*.elc
.cask/
.last-package-update-day
.lsp-session-v1
.org-id-locations
JUNK/
auto-save-list/
eln-cache/
elpa/
elpaca/
freeradius-mode/
games/
network-security.data
request/
straight/
transient/
url/
var/
eshell/
